<!DOCTYPE html>
<html lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

<body ng-app="mainApp" ng-controller="mainController">
    <h1> The Student Tabel </h1>

    <table>
        <h2><u> This is Ascending </u></h2>
        <tr>
            <th>Name</th>
            <th>TotalMarks</th>
            <th>Rank</th>
        </tr>
        <tr ng-repeat="s in student | orderBy:'Rank' ">

            <td> {{s.name}} </td>
            <td> {{s.TotalMarks}} </td>
            <td> {{s.Rank}} </td>
        </tr>
    </table>
   
    <table>
        <h2><u> This is descending  </u></h2>
        <tr>
            <th>Name</th>
            <th>TotalMarks</th>
            <th>Rank</th>
        </tr>
        <tr ng-repeat="s in student | orderBy:'-Rank' ">

            <td> {{s.name}} </td>
            <td> {{s.TotalMarks}} </td>
            <td> {{s.Rank}} </td>
        </tr>
    </table>

    <script>

        var app = angular.module('mainApp', []);
    
        app.controller('mainController', function ($scope) {
    
            $scope.student = [
                { name: "Parth", TotalMarks: 80, Rank: 1 },
                { name: "Mahipal", TotalMarks: 90, Rank: 9 },
                { name: "Vatsal", TotalMarks: 79, Rank: 6 },
                { name: "Paras", TotalMarks: 69, Rank: 5 },
                { name: "Jatvik", TotalMarks: 79, Rank: 2 },
                { name: "Kshitij", TotalMarks: 68, Rank: 4 },
                { name: "Karan", TotalMarks: 60, Rank: 8 },
                { name: "Vansh", TotalMarks: 50, Rank: 7 },
                { name: "Maan", TotalMarks: 60, Rank: 3 },
                { name: "Jay", TotalMarks: 70, Rank: 10 }
    
            ]
        });
    
    </script>
</html>    